<div class="p-6 lg:p-10 space-y-8 max-w-9xl mx-auto">
  <div class="flex flex-col sm:flex-row sm:items-center justify-between gap-4">
    
    <div class="flex items-center gap-4">
      <app-back-button link="/admin/dashboard" />
      <div>
        <app-title firstSegment="Culturas" secondSegment="Cadastradas"></app-title>
        <app-subtitle text=" {{ totalElements() }} cultura(s) cadastrada(s)"></app-subtitle>
      </div>
    </div>
  
      <app-button-pages
        text="Nova Cultura"
        [icon]="icons.PLUS"
        width="fit-content"
        (action)="openCreate()" />
    </div>
  
    <app-search-bar
      placeholder="Buscar cultura por nome..."
      allLabel="Todas"
      filterMode="buttons"
      [filters]="categories"
      (searchChange)="onSearch($event)"
      (filterChange)="onFilterChange($event)" />
  
    @if (loading()) {
      <div class="flex items-center justify-center h-64">
        <div class="animate-spin w-12 h-12 rounded-full
                    border-4 border-button-main border-t-transparent"></div>
      </div>
    }
  
    @else if (crops().length === 0) {
      <div class="flex flex-col items-center justify-center h-64 gap-4">
        <fa-icon [icon]="icons.SEEDLING" class="text-6xl text-primary/20" />
        <p class="text-xl font-medium text-neutral-secondary/50">
          Nenhuma cultura encontrada
        </p>
      </div>
    }
  
    @else {
      <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-5">
        @for (crop of crops(); track crop.id) {
          <app-crop-card
            [crop]="crop"
            [categoryLabel]="categoryLabel(crop.cropCategory)"
            (edit)="openEdit($event)" />
        }
      </div>
    }
  
    <app-paginator 
      [currentPage]="currentPage()"
      [totalPages]="totalPages()"
      (pageChange)="loadPage($event)" />
    
  </div>
  
  @if (modalOpen()) {
    <app-crop-form
      [cropData]="editingCrop()"
      [saving]="saving()"
      [saveError]="saveError()"
      (save)="handleSave($event)"
      (toCancel)="closeModal()" />
}