<div class="absolute inset-0 opacity-45">
    <div class="absolute inset-0" style="
      background-image: url('/assets/svgs/geometric-pattern.svg'); 
      background-size: 120px 120px; 
      background-repeat: repeat;">
    </div> 
  </div>
    <div class="absolute inset-0 z-10 overflow-hidden pointer-events-none"> 
    <div class="absolute top-20 -left-20 w-96 h-96 bg-[var(--color-primary)]/20 rounded-full blur-3xl animate-pulse"></div> 
    <div class="absolute bottom-20 -right-20 w-[500px] h-[500px] bg-[var(--color-secondary)]/15 rounded-full blur-3xl animate-pulse" style="animation-delay: 1s;"></div> 
    <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-96 h-96 bg-[var(--color-success)]/10 rounded-full blur-3xl animate-pulse" style="animation-delay: 2s;"></div>  
</div>