@if (loading()) {
  <div class="flex items-center justify-center h-[calc(100vh-100px)]">
    <div class="animate-spin w-10 h-10 rounded-full border-4
                border-button-main border-t-transparent"></div>
  </div>
}

@else if (property(); as p) {
  <div class="p-6 space-y-6 pb-32 lg:pb-6 max-w-9xl mx-auto px-4 sm:px-10">

    <div class="flex items-center gap-4">
      
      <app-back-button 
        [link]="'/producer/properties'"/>

        <div class="flex-1">
          <app-property-header
            [name]="p.name"
            [stateName]="p.stateName"
            (edit)="showModal.set(true)" />
        </div>  

    </div>

    <app-property-hero
      [property]="p"
      [avatarPreview]="avatarPreview()"
      [uploading]="uploading()"
      (fileSelected)="onFileSelected($event)" />

    <app-property-areas [property]="p" />

    <app-property-address [property]="p" />

    <app-property-records [property]="p" />

  </div>

  @if (showModal()) {
    <app-property-update-modal
      [property]="p"
      (updated)="onUpdated($event)"
      (doClose)="showModal.set(false)" />
  }
}