@if (profile(); as p) {

    <div class="min-h-screen px-4 py-10 sm:px-8 max-w-9xl mx-auto space-y-6">
  
      <app-profile-header
        [profile]="p"
        [uploading]="uploadingAvatar()"
        [avatarPreview]="avatarPreview()"
        (fileSelected)="onAvatarSelected($event)" />
  
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
        <app-profile-personal-data [profile]="p" />
        <app-profile-security      [profile]="p" />
        <app-profile-privacy       [profile]="p" />
        <app-profile-account
          (deleteConfirmed)="onDeleteConfirmed()"
          (deactivateConfirmed)="onDeactivateConfirmed()" />
      </div>
    </div>
  
  } @else {
  
    <div class="min-h-screen px-4 py-10 sm:px-8 max-w-5xl mx-auto space-y-6 animate-pulse">
      <div class="h-40 rounded-3xl bg-neutral-primary border-3 border-primary/20"></div>
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
        @for (i of [1,2,3,4]; track i) {
          <div class="h-64 rounded-3xl bg-neutral-primary border-3 border-primary/20"></div>
        }
      </div>
    </div>
  
}