<section class="relative py-2 overflow-hidden">
    <div class="absolute inset-0 opacity-5">
      <div class="absolute inset-0" style="background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, var(--color-primary) 35px, var(--color-primary) 37px);"></div>
    </div>
  
    <div class="absolute inset-0 pointer-events-none">
      <div class="seed seed-1"></div>
      <div class="seed seed-2"></div>
      <div class="seed seed-3"></div>
      <div class="seed seed-4"></div>
    </div>
  
    <div class="container mx-auto px-4 lg:px-8 relative z-10">
      <div class="text-center mb-16 animate-fadeInUp">

        <app-title
          firstSegment="Do plantio"
          secondSegment="ao lucro"
        ></app-title>
       <app-subtitle text="Otimizamos o seu processo de plantio para otimizar o lucro da sua operação."></app-subtitle>
      </div>
  
      <div class="flex flex-col lg:flex-row items-center justify-center gap-8 lg:gap-4 mb-16">
        @for (phase of phases; track phase.id; let i = $index) {
          
          <app-phase-card 
            [phase]="phase" 
            [isActive]="activePhase() === i"
            (select)="selectPhase(i)">
          </app-phase-card>
  
          @if (!$last) {
            <app-phase-connector 
              [isPassed]="activePhase() > i">
            </app-phase-connector>
          }
        }
      </div>
  
      <div class="max-w-6xl mx-auto">
        @if (phases[activePhase()]; as currentPhase) {
          <app-phase-details [phase]="currentPhase"></app-phase-details>
        }
      </div>
    </div>
  </section>