<!-- forecast-card.html -->
@if (hasForecast()) {
    <div class="rounded-2xl p-5 bg-white/5
                border border-white/10 backdrop-blur-md">
  
      <h3 class="font-bold text-neutral-primary mb-4">
        Previsão 7 dias
      </h3>
  
      <div class="grid grid-cols-7 gap-2">
        @for (day of days(); track day.id) {
          <div class="flex flex-col items-center gap-1
                      p-2 rounded-lg bg-white/5 text-center">
  
            <p class="text-xs text-neutral-secondary">
              {{ day.forecastDate | date:'EEE':'':'pt-BR' }}
            </p>
  
            <span class="text-2xl">
              {{ getIconPath() }}
            </span>
  
            <p class="text-xs font-bold text-neutral-primary">
              {{ day.temperatureMax | number:'1.0-0' }}°
            </p>
  
            <p class="text-xs text-neutral-secondary">
              {{ day.temperatureMin | number:'1.0-0' }}°
            </p>
  
            @if (day.rainfallProbability > 0) {
              <p class="text-xs text-blue-400">
                {{ day.rainfallProbability }}%
              </p>
            }
          </div>
        }
      </div>
    </div>
}
