<button
  [style.width]="width()"
  [disabled]="disabled()"
  (click)="onClick()"
  class="group relative flex items-center justify-between
         font-bold transition-all duration-300 overflow-hidden cursor-pointer
         border shadow-lg hover:shadow-2xl active:translate-y-0"
  [class]="sizeClasses()"
  [class.opacity-50]="disabled()"
  [class.cursor-not-allowed]="disabled()"
  [class.hover:-translate-y-1]="!disabled()"
  [class.bg-gradient-to-br]="!active()"
  [class.from-button-main]="!active()"
  [class.to-button-second]="!active()"
  [class.text-neutral-primary]="!active()"
  [class.border-transparent]="!active()"
  [class.bg-transparent]="active()"
  [class.border-primary]="active()"
  [class.text-primary]="active()"
  [class.shadow-none]="active()">

  <span class="relative z-10">{{ text() }}</span>

  <fa-icon
    [icon]="icon()"
    class="relative z-10 transition-transform duration-300 group-hover:translate-x-1"
    [class]="iconSizeClass()" />
</button>