/* AGROWERK - Reset & Base Styles */

/* Import Google Fonts */

@import url($font-url);

/* Reset Global */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

html {
  font-size: 62.5%; 
}

body {
  font-family: $font-family-primary;
  font-size: 1.6rem; 
  line-height: 1.5;
  background-color: $primary-neutral-color;
  color: $tertiary-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Remove default list styles */

ul,
ol {
  list-style: none;
}

/* Links without standard style */

a {
  text-decoration: none;
  color: inherit;
}

/* Responsive images */

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Buttons without standard style */

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

/* Inputs */

input,
textarea,
select {
  font-family: inherit;
}